.backToHome {
    svg {
        margin-right: 10px;
    }

    path {
        fill: var(--link);
    }
    
    width: 150px;
}

.main {
    padding: 5rem 0;
}

.footer {
    width: 100%;
    padding: 5rem 0;

    h2 {
        margin: 0;
    }
}