.header {
    width: 100%;
    margin: 1rem auto;
}

.buttons {
    a {
        margin-left: 10px;
        width: 90px;
    }
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    padding: 5rem 0;
}