.header {
    width: 100%;
    position: sticky;
    top: 1rem;
}

.buttons {
    a {
        margin-left: 10px;
        width: 90px;
    }
}

.main {
    padding: 5rem 0;
}

.footer {
    width: 100%;
    padding: 5rem 0;

    h2 {
        margin: 0;
    }
}