@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Manrope:wght@200..800&family=Roboto+Mono&display=swap');

@font-face {
    font-family: 'Sohne-Regular';
    src: url('../public/fonts/Sohne-Regular.otf') 'opentype'
}

:root {
    --navLinkBorderRadius: 2px; 
}

// Include functions first
@import "../node_modules/bootstrap/scss/functions";

// Customize some defaults

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional components
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sohne-Regular", sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: var(--link);
  text-decoration: none;
}

p {
  color: var(--text);
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}