.displayTextWrapper {
    margin: 0;
    padding: 0;

    .displayText {
        margin: 5rem 0;
        padding: 0;
    }
}

.projectHeader {
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 10px;
    color: var(--borderColor);
}

.projectTitle {
    margin-bottom: 0;
    letter-spacing: -.04em;
}