.heading2Xl {
    line-height: 84%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: -0.07em;
    letter-spacing: -.07em;
    
    @media (min-width: 960px) {
        font-size: calc(100px + ((150 - 100) * (100vw - 960px) / (1728 - 960)));
    }

    @media (min-width: 600px) {
        font-size: calc(80px + ((100 - 80)*(100vw - 600px) /(960 - 600)));
    }

    @media (max-width: 599px) {
        font-size: calc(60px + ((80 - 60)*(100vw - 390px) /(600 - 390)));
        line-height: 87%;
    }
}

.rightArrow {
    fill: var(--tagColor);
    margin-left: 10px;
}

.icon {
    color: var(--link);
    height: 10px;
    width: 10px;
    display: inline-block;
}
  
.headingXl {
    line-height: 90%;
    letter-spacing: -0.06em;
    margin-left: -0.06em;
    margin: 1rem 0;

    @media (min-width: 960px) {
        font-size: calc(28px + ((43 - 28) * (100vw - 960px) / (1728 - 960)));
    }

    @media (min-width: 600px) {
        font-size: calc(26px + ((28 - 26)*(100vw - 600px) /(960 - 600)));
    }

    @media (max-width: 599px) {
        font-size: calc(24px + ((26 - 24)*(100vw - 390px) /(600 - 390)));
        line-height: 110%;
    }
}
  
.headingMd {
    font-size: calc(22px + ((28 - 22)*(100vw - 960px) /(1728 - 960)));
    line-height: 1.5;
    text-decoration: none;
}
  
.borderCircle {
    border-radius: 9999px;
}
  
.colorInherit {
    color: inherit;
}
  
.marginBottom10 {
    margin-bottom: 10px;
}
  
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
  
.listItem {
    border-bottom: 1px solid var(--borderColor);

    > * {
        margin: 1em 0;
    }

    &:hover {
        background-color: var(--highlight);
        color: var(--navLinkHoveredColor);

        .tag {
            border-color: var(--bg);
            color: var(--bg);
            background-color: var(--text);
        }

        time, span {
            color: var(--navLinkHoveredColor);
        }
    }
}
  
.lightText {
    color: var(--lightText);
}

.caption {
    color: var(--borderColor);
}

.code {
    font-size: 0.8rem;
    font-family: "Roboto Mono", serif;
    font-weight: 400;
}

.allCaps {
    text-transform: uppercase;
}

.noUnderline {
    text-decoration: none;
}

.tag {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-family: "Roboto Mono", serif;
    font-weight: 400;
    font-size: 0.8rem;
    margin-right: 10px;
    padding: 4px 6px;
    text-transform: uppercase;
    text-align: center;
    border: 1px dotted var(--tagColor);
    border-radius: var(--navLinkBorderRadius);
    color: var(--tagColor);

    &.link {
        &:hover {
            background-color: var(--tagColor);
            color: var(--bg)
        }
    }
}

.nav {
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 4px 6px;
    text-transform: uppercase;
    text-align: center;
    color: var(--link);
    background-color: var(--navLinkBg);
    border-radius: var(--navLinkBorderRadius);

    &:hover, &.active {
        background-color: var(--highlight);
        color: var(--navLinkHoveredColor);

        svg, path {
            fill: var(--navLinkHoveredColor)
        }
    }
}

/** Table **/

.tableHeader {
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 10px;
    color: var(--borderColor);
}

/** Checkbox **/

.filterOpenner {
    background: none;
    padding: 0;
    color: var(--lightText);
}

.formCheck {
    display: flex;
    align-items: center;

    span {
        display: block;
        width: 10px;

        &:nth-child(1) {
            transform: translateY(-10px) translateX(-2px);
            border-right: 1px dotted currentColor;
            height: 20px;
        }
        
        &:nth-child(2) {
            transform: translateY(-5px) rotate(90deg);
            border-right: 1px dotted currentColor;
            height: 12px;
        }
    }

    input {
        display: grid;
        place-content: center;
        appearance: none;
        background-color: var(--bg);
        margin-right: 10px;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 1px dotted currentColor;
        border-radius: var(--navLinkBorderRadius);
        transform: translateY(-0.075em);

        &::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em currentColor;
        }

        &:checked {
            + label {
                background-color: var(--highlight);
                color: var(--navLinkHoveredColor);
            }

            &::before {
                transform: scale(1);
            }
        }
    }
}