.heading2Xl {
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -0.08rem;
    margin: 1rem 0;
    font-weight: 200;
}
  
.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
    font-weight: 200;
}
  
.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
    font-weight: 200;
}
  
.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 200;
}
  
.borderCircle {
    border-radius: 9999px;
}
  
.colorInherit {
    color: inherit;
}
  
.padding1px {
    padding-top: 1px;
}
  
.list {
    padding: 0;
    margin: 0;
}
  
.listItem {
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--borderColor);

    &:hover {
        background-color: var(--highlight);
        color: var(--bg);

        time, span {
            color: var(--bg);
        }
    }
}
  
.lightText {
    color: var(--lightText);
}

.code {
    font-size: 0.8rem;
    font-family: "Roboto Mono", serif;
    font-weight: 400;
}

.tag {
    display: inline-block;
    font-family: "Roboto Mono", serif;
    font-weight: 400;
    font-size: 0.8rem;
    margin-right: 10px;
    padding: 4px 6px;
    text-transform: uppercase;
    text-align: center;
    border: 1px dotted var(--tagColor);
    border-radius: var(--navLinkBorderRadius);
    color: var(--tagColor);

    &.link {
        &:hover {
            background-color: var(--tagColor);
            color: var(--bg)
        }
    }
}

.nav {
    display: block;
        padding: 4px 6px;
        text-transform: uppercase;
        text-align: center;
        background-color: var(--navLinkBg);
        border-radius: var(--navLinkBorderRadius);

        &:hover {
            background-color: var(--highlight);
            color: var(--navLinkBg)
        }
}